/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

img {
    max-width: 100%;
}
  
  /* COMMON */
  /* Layout */

.container {
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
    min-height: 60px;
}

.hc {
    width: 98%;
    display: flex;
    justify-content: space-between;  
}

.bc {
    width: 70%;    

    /* debug */
    min-height: 400px;
}

.sc {
    width: 60%;
    
    /* debug */
    min-height: 900px;
}

ul {
    list-style: none;
}


/* HEADER */
.left-nav {
    text-align: left;
    min-width: 30%;

    /* debug */
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}

.right-nav {
    text-align: right;
    min-width: 30%;
    
    /* debug */
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}


/* MAIN */
/* hero */
#hero {
    background-color: #b4d0e6;
    padding-top: 50px;
}

.main-title {


     /* debug */
     min-height: 100px;
     background-color: lightskyblue;
}

.bc .row {
    display: flex;
    justify-content: space-between;

    /* debug */
    min-height: 400px;
}

.text-hero {
    width: 30%;
    text-align: left;

    /* debug */
    border: 1px solid black;
    background-color: lightpink
}

.img-hero {
    width: 70%;

    /* debug */
    border: 1px solid black;
    background-color:lightcoral
}


/* 3 columns section */
.three-col {
    padding-top: 30px;
}

.sc h2, form {

    /* debug */
    border: 1px solid black;
    min-height: 50px;
    
    /* debug */
    background-color: lightslategray;
}

.sc .row {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    padding-top: 20px;
}

.col {
    width: calc((100% - 60px) / 3);

    /* debug */
    border: 1px solid black;
    min-height: 600px;
    background-color: bisque;
}

.card {
    
}

.ct {
    width: 100%;

    /* debug */
    border: 1px solid black;
    min-height: 30px;
    background-color: lightcyan;
}

.cb {

    /* debug */
    border: 1px solid black;
    min-height: 500px;
    background-color: lightsalmon;
}

/* team section */
.team {
    margin-top: 30px;

    /* debug */
    border: 1px solid black;
    min-height: 200px;
    background-color:lightcoral;    
}

.team-body {

    /* debug */
    border: 1px solid black;
    min-height: 200px;
    background-color: lightsalmon;
}

